#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

}


.no-bullet {
  list-style: none;
  text-align: left;
  margin-top: 4px;
}


.fixed-div {
position: fixed;
top: 0;
left: 0;
right: 0;
z-index: 999;
padding: 1rem;
}